:root {
    --background: rgb(246, 245, 242);
    --header-background: rgba(255, 255, 255, 0.673);
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(214, 214, 214);
    --action-color: rgb(55, 46, 75);

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}


:root {
    --max-section-width: 1440px;
    --min-section-width: 320px;
    --section-width: clamp(var(--min-section-width), 100vw, var(--max-section-width));
    --content-width: var(--section-width);
    --scale: calc( ( var(--section-width) - var(--min-section-width) ) / 400 );
    --half-scale: calc( ( var(--content-width) - var(--min-section-width) ) / 400 );
    
    --primary-margin: calc(10px + ( var(--scale) * 60));
  
    --header-height: 60px;
    
  }
  
  @media (min-width: 700px) {
    :root {
      --content-width: calc(var(--section-width) / 2);
    }
  }
  
  @media (min-width: 1024px) {
    :root {
      --header-height: 88px;
    }
  }
  


body {
    height: max-content;
    background: var(--background);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: calc(.9rem + ( var(--scale) * 4));
        line-height: 1.7;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px var(--primary-margin);
    height: 40px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

.page-header .logo {
    height: 100%;
}

.page-header .company-name {
    flex-grow: 2;
    font-size: 1.5em;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
}

p {
    margin: 1.25em 0;
}

h1 {
    font-family: 'Fredericka the Great';
    font-size: calc(3.7rem + ( var(--half-scale) * 50));
    line-height: 1.1;
    max-width: var(--content-width);
}

h2 {
    margin-top: 2.5em;
    margin-bottom: .92em;
    font-family: 'Fredericka the Great';
    font-size: calc(1.2rem + ( var(--scale) * 15));
}

h2 .wayfinder {
    display: block;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: calc(.7rem + ( var(--scale) * 4));
    line-height: 2.2;
    text-transform:uppercase;
}

section { 
    max-width: var(--max-section-width);
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

blockquote {
    padding: 15px var(--primary-margin);
}

blockquote p {
    max-width: 800px;
    font-family: 'Noto Sans Chorasmian';
    font-size: 1rem;
    line-height: 1.75;
    padding: 1em;
    padding-left: 8em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    background:rgb(220 220 242);
    color: rgb(52, 53, 65);
}

.two-column {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        'first'
        'second'
    ;
    
    --first-column-width: 100vw;
    --second-column-width: 100vw;
}

section > *, footer {
    padding-left: var(--primary-margin);
    padding-right: var(--primary-margin);
}
section > h1 {
    padding-right: 0;
}
       
.two-column > *:first-child {
    grid-area: first;  
}

.two-column > *:last-child {
    grid-area: second;
    width: 100%;
}
        
@media (min-width: 700px) {
    .two-column {
        grid-template-columns: var(--first-column-width) var(--second-column-width);
    
        --first-column-width: calc(var(--section-width) * .5);
        --second-column-width: calc(var(--section-width) * .5);
        
        grid-template-areas: 'first second';
    }
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 1em;
}