:root {
    --background: rgb(246, 245, 242);
    --header-background: rgba(255, 255, 255, 0.673);
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --action-color: rgb(59, 120, 244);

    --primary-font: 'Atkinson Hyperlegible', 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;

    
}

:root {
    --max-section-width: 1440px;
    --min-section-width: 320px;
    --section-width: clamp(var(--min-section-width), 100vw, var(--max-section-width));
    --content-width: var(--section-width);
    --scale: calc( ( var(--section-width) - var(--min-section-width) ) / 400 );
    --half-scale: calc( ( var(--content-width) - var(--min-section-width) ) / 400 );
    
    
    
  }
  
  @media (min-width: 700px) {
    :root {
      --content-width: calc(var(--section-width) / 2);
    }
  }
  
  @media (min-width: 1024px) {
    :root {
      --header-height: 88px;
    }
  }
  
/* body */

body {
    height: max-content;
    background: var(--background);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: calc(1.2rem + ( var(--scale) * 3));
    line-height: 1.7;
}

/* page header */

body::before {
    --header-height: 40px;
    content: '';
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.673);
}

.page-header {
    position: sticky;
    top: 0;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    gap: 10px;

}

.page-header .company-name {
    --company-font: 'Rubik';

    flex-grow: 2;
    color: white;
    opacity: .673;
    font-family: var(--company-font);
    font-size: 1.4em;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
}

/* layout and spacing */

section, header, footer { 
    max-width: var(--max-section-width);
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

section {
    --margin: 8em;
    margin-bottom: var(--margin);
}

section > *, header, footer {
    --vertical-margin: calc(10px + ( var(--scale) * 60));
    padding-left: var(--vertical-margin);
    padding-right: var(--vertical-margin);
}

footer {
    margin-top: 100px;
}

p, blockquote {
    --margin: 1.25em;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

p, blockquote {
    --margin: 2.25em;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

/* headings */

h1, h2 {
    --header-font: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
    font-family: var(--header-font);
}

h1 {
    margin-top: 1em;
    margin-bottom: 1.7em;
    font-size: calc(3.7rem + ( var(--scale) * 20));
    line-height: 1;
}

h2 {
    margin-bottom: 1.7em;
    font-size: calc(1.9rem + ( var(--scale) * 10.2));
    line-height: 1.5;
    hyphens: auto;
}

h2 > span, .wayfinder > span {
    white-space: nowrap;
}

h2 .wayfinder {
    display: block;
    margin-bottom: 0.8em;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: calc(1rem + ( var(--scale) * 3));
    line-height: 1.4;
    text-transform:uppercase;
}

/* ai-response */

blockquote {
    display: grid;
    grid-template-columns: calc(22px + ( var(--scale) * 3)) auto;
    gap: calc(15px + ( var(--scale) * 4.7));
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    --ai-background: rgb(230 230 233);
    --ai-color: rgb(52, 53, 65);
    --ai-font: 'Noto Sans Chorasmian';

    background: var(--ai-background);
    color: var(--ai-color);
    font-family: var(--ai-font);
    font-size: calc(.9rem + ( var(--scale) * 2.2));
    line-height: 1.75;
}

blockquote img {
    width: 100%;
    border-radius: 2px;
    margin-top: .3em;
}

blockquote p {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 1em;
}